{% extends "user_default.html" %} {% block title %}Edit Blogs{%endblock%}
{%block header%}
<style>
  .box_background {
    text-decoration: none;
    background-color: black !important;
  }
  .box:hover {
    opacity: 0.7;
  }
</style>
{%endblock%} {%block content%}

<div class="container">
  <h3 class="mt-5 bg-warning text-center text-light py-3">
    Welcome
  </h3>
  {%for blog in blogs%}
  <div class="row my-2">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-body p-0">
          <div class="row p-0 m-0">
            <a
              class="box col-11 box_background"
              href="/blogs/edit/blog/{{blog.id}}"
            >
              <div class="row">
                <div class="col-8 mx-auto mt-5 mb-4">
                  <h5 class="card-title text-light bg-transparent">
                    {{blog.blog_name}}
                  </h5>
                </div>
                <div class="col bg-dark p-2 px-5">
                  <h4 class="mx-auto mt-3 bg-dark text-light">
                    {{blog.total_posts}}
                  </h4>
                  <h6 class="p-0 m-0 text-warning">POSTS</h6>
                </div>
              </div>
            </a>
            <div class="col p-0">
              <form action="/delete/blog" class="w-100 h-100" method="POST">
                <input
                  type="text"
                  name="blog_id"
                  value="{{blog.id}}"
                  hidden
                  readonly
                />
                <button
                  class="btn btn-danger"
                  name="action"
                  value="delete_blog"
                  style="width: 100%; height: 100%"
                >
                  <i class="fa fa-times"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
