{% extends "user_default.html" %} {% block title
%}{{blog.blog_name}}{%endblock%} {%block header%}
<style>
  .box_background {
    text-decoration: none;
    background-color: black !important;
  }
  .box:hover {
    opacity: 0.7;
  }
</style>
{%endblock%} {%block content%}

<div class="container">
  <h3 class="mt-5 bg-warning text-center text-light py-3">
    {{blog.blog_name}}
  </h3>

  <div class="box row my-2">
    <div class="col-12">
      <div class="card ps-2 pt-2">
        <div class="card-body p-0">
          <h5 class="card-title">{{posts.post_title}}</h5>
          <p class="card-text">{{posts.post_description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
